<header class="header-container">
  <div class="header-image">
    <img src="assets/images/kwanseok.png" alt="Kwanseok Choi">
  </div>
  <div class="header-content">
    <h1>Kwanseok Choi</h1>
    <div class="header-block">
      <p>Ph.D. Student</p>
      <p><a class="styled-link" href="https://ece.snu.ac.kr/en">Electrical and Computer Engineering</a></p>
      <p><a class="styled-link" href="https://en.snu.ac.kr">Seoul National University</a></p>
    </div>
    <div class="header-block">
      <p>Email: <a class="styled-link" href="mailto:kwanseok.choi@snu.ac.kr">kwanseok.choi@snu.ac.kr</a></p>
      <!--
      <p><a class="styled-link" href="https://www.linkedin.com/in/kwanseok-choi-87a775303">LinkedIn</a></p>
      -->
    </div>
  </div>
</header>
