<section>
  <div class="section-title">
    <h2>Publications</h2>
    <p>
      <a class="styled-link" href="https://scholar.google.com/citations?user=AAPMCS4AAAAJ&hl=en">Google Scholar</a> |
      <a class="styled-link" href="https://dblp.org/pid/349/5062.html">DBLP</a>
    </p>
  </div>

  <ul class="paper-list">
    <li class="paper-item">
      <p>
        <a class="button-link button-dac" href="#">DAC-61</a>
        <strong><a class="styled-link" href="https://dl.acm.org/doi/10.1145/3649329.3655951">MoNDE: Mixture of Near-Data Experts for Large-Scale Sparse Models</a></strong>
      </p>
      <p>Taehyun Kim, <em>Kwanseok Choi</em>, Youngmock Cho, Jaehoon Cho, Hyuk-Jae Lee, Jaewoong Sim</p>
      <p>Proc. of the 61st Design Automation Conference (<strong>DAC</strong>), San Francisco, CA, June 2024</p>
      <p>[<a class="styled-link" href="assets/pubs/dac24-monde.pdf">PDF</a>]</p>
    </li>

    <li class="paper-item">
      <p>
        <a class="button-link button-pact" href="https://pact2023.github.io">PACT-32</a>
        <strong><a class="styled-link" href="https://ieeexplore.ieee.org/document/10364602">SDM: Sharing-Enabled Disaggregated Memory System with Cache Coherent Compute Express Link</a></strong>
      </p>
      <p>Hyokeun Lee, <em>Kwanseok Choi</em>, Hyuk Jae Lee, Jaewoong Sim</p>
      <p>Proc. of the 32nd International Conference on Parallel Architectures and Compilation Techniques (<strong>PACT</strong>), Vienna, Austria, Oct 2023</p>
      <p>[<a class="styled-link" href="assets/pubs/pact23-sdm.pdf">PDF</a>]</p>
    </li>

    <li class="paper-item">
      <p>
        <a class="button-link button-isca" href="https://iscaconf.org/isca2023">ISCA-50</a>
        <strong><a class="styled-link" href="https://dl.acm.org/doi/10.1145/3579371.3589056">NeuRex: A Case for Neural Rendering Acceleration</a></strong>
      </p>
      <p>Junseo Lee, <em>Kwanseok Choi</em>, Jungi Lee, Seokwon Lee, Joonho Whangbo, Jaewoong Sim</p>
      <p>Proc. of the 50th International Symposium on Computer Architecture (<strong>ISCA</strong>), Orlando, FL, June 2023</p>
      <p>[<a class="styled-link" href="assets/pubs/isca23-neurex.pdf">PDF</a>]</p>
    </li>
  </ul>
</section>
